body.igrac-home {
	padding-top: 51px;
	background: #005198;
	color: #797979;
	line-height: 1.3;
	margin-bottom: 40px;
}
.igrac-home #wrap {
	margin-top: 0;
	min-height: inherit;
	height: auto;
	background: #005198;
	color: #fff;
}
.igrac-home #wrap a:link, .igrac-home #wrap a:visited {
	color: #00add9;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
}
#content a:link, #content a:visited {
	font-weight: 700;
}
.igrac-home #wrap a:hover, .igrac-home #wrap a:focus {
	text-decoration: underline;
}
#branding {
	margin: 0;
}
#branding .logo {
	height: 50px;
	line-height: 50px;
}
.navbar-nav > li > a {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}
.navbar-nav .search {
	top: 10px;
}
.igrac-wagtail #wrap {
	margin-top: 10px;
	min-height: 100vh;
	height: auto;
}
.igrac-wagtail #wrap * {
	list-style-type: disc;
}
.banner {
	position: relative;
	background-image: url(/static/img/coverfoto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.banner-text {
	padding: 120px 0 80px 0;
	color: #fff;
	font-size: 20px;
	line-height: 1.4;
	position: relative;
	z-index: 20;
}
.banner-text a {
	color: #fff;
	text-decoration: underline;
}
.banner-text a:hover {
	color: #f18903;
	text-decoration: underline;
}
.banner .background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: rgba(39,39,39,0.7);
	background: linear-gradient(90deg, rgba(39,39,39,0.87) 0%, rgba(39,39,39,0.66) 42%, rgba(39,39,39,0) 100%);
}
.banner .cta {
	position: relative;
	z-index: 20;
	padding: 10px 0;
	background: rgba(46,135,223,0.85);
}
.banner .cta .justify {
	display: flex;
	justify-content: space-between;
}
.banner .cta .btn {
	margin-right: 20px;
}
.btn {
	font-weight: 300 !important;
	padding: 10px 20px;
	color: #005198;
	border: 1px solid #005198;
	border-radius: 0;
}
.banner .btn:hover, .banner .btn:focus {
	opacity: 0.8;
}
.btn.btn-blue {
	color: #fff;
	background: #005198;
}
.btn.btn-white {
	color: #fff;
	border-color: #fff;
}
#content h1 {
	font-size: 30px;
	font-weight: 700;
	margin: 70px 0 0;
}
.map-wrapper {
	margin-top: 0;
}
.map-item {
	display: block;
	margin-top: 30px;
}
.map-item-wrappper {
	display: flex;
	height: 180px;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.52);
	transition: transform 0.2s;
	background: #fff;
}
.viewer-thumb {
	width: 45%;
	overflow: hidden;
}
.viewer-thumb img {
	min-height: 180px;
	min-width: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
}
.viewer-desc {
	width: 55%;
	padding: 15px;
}
.viewer-title {
	font-weight: bold;
	margin-bottom: 4px;
	color: #005198;
}
.map-item-wrappper .map-abstract {
	font-size: smaller;
	color: #797979;
}
.igrac-home #wrap .map-item-wrappper:hover {
	text-decoration: none;
	box-shadow: 0 0 15px -5px #006198;
}
.map-item-wrappper img {
	max-width: 100%;
}

.map-item:hover {
    transform: translate(5px, -5px);
    transition-duration: 0.2s;
}
